body {
  background-color: #efefef;
  padding-top: 70px;
  color: #0f0f0f;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  border-radius: 0px;
  background-color: #0f0f0f;
}

.head {
  min-height: 85vh;
}

.heading-text {
  font-size: 76px!important;
}

.break {
  padding-right: 25px;
}

.music-icon {
  padding-right: 2px;
}

.about-me-text {
  font-size: 17px;
  letter-spacing: .5px;
  line-height: 20px;
}

.about-me-section {
  min-height: 62vh;
}

.skills {
  min-height: : 80vh;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid #0f0f0f;
  padding-bottom: 30px;
}

.icons {
  font-size: 10rem
}

.icon-padding {
  padding: 30px;
}

.me {
}

.footer {
  background-color: #222;
  min-height: 50vh;
}

.contact-text {
  padding: 0 30px 0 30px;
  color: #fff;
  font-size: 10em;
  font-weight: 900;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #888;
  text-decoration: line-through;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
